<h1>Analiza profilu klienta</h1>

Firma prowadzi kampanie handlowe wysyłając do klientów oferty. 

Pobieramy dane z pliku "datasets/WineKMC.xlsx". Co się w nich znajduje?

In [2]:
import pandas as pd

df_offers = pd.read_excel("data_cl/WineKMC.xlsx", sheetname=0)
df_offers.columns = ["offer_id", "campaign", "varietal", "min_qty", "discount", "origin", "past_peak"]
df_offers.head()

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

In [3]:
df_transactions = pd.read_excel("data_cl/WineKMC.xlsx", sheetname=1)
df_transactions.columns = ["customer_name", "offer_id"]
df_transactions['n'] = 1
df_transactions.head()

  customer_name  offer_id  n
0         Smith         2  1
1         Smith        24  1
2       Johnson        17  1
3       Johnson        24  1
4       Johnson        26  1

Czego dotyczą dane?

Firma będzie tworzyć nowe oferty. Chcielibyśmy wiedzieć do których klientów skierować poszczególne oferty. Możemy założyć że klientów jest milion i nie jesteśmy w stanie rozpatrzyć każdego indywidualnie. Poza tym klient może chcieć chcieć kupić coś innego, dlatego nie możemy się kierować tylko tym co już kupił.

ZADANIE: 
* Scalamy oferty i transakcje do osobnego dataframe 'df'
* Stwórzmy tabelę 'matrix', gdzie w wierszach są klienci a w kolumnach oferty - dla każdego klienta zaznaczmy czy wybrał daną ofertę (1) czy nie (0)

In [5]:
# join the offers and transactions table
#df = 

# create a "pivot table" which will give us the number of times each customer responded to a given offer
#matrix = 

# save a list of the 0/1 columns. we'll use these a bit later
#x_cols =

ZADANIE: Podzielmy klientów na grupy (segmenty) - do jednej grupy włączamy podobnych klientów - podobni klienci reagują na podobne oferty. Użyjemy Kmeans do grupowania.

In [6]:
from sklearn.cluster import KMeans

#matrix['cluster'] =

ZADANIE: Jakie są liczności grup?

In [7]:
#

ZADANIE: Proszę zwizualizować wynik na płaszczyźnie (np. PCA)

In [8]:
#

Zanalizujmy klaster nr 4.

ZADANIE: Dla każdego wina wylistować ilość klientów które go kupili - z klastra 4 i z innych klastrów (grupowanie).

In [9]:
#

Które wino jest kupowane tylko przez ten klaster, a które wcale?

ZADANIE: Spójrzmy na numeryczne atrybuty. Jak jest średnia ilości i rabatu w tym klastrze w porównaniu do innych?

In [10]:
#

Czy ci klienci kupują duże czy małe ilości? Co można powiedzieć o wariancji

In [11]:
#